*{
  border: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    overflow-x: hidden;
    background-color: #1A1A1B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Serif 4", serif;
    color: #F4A261;
}
p{
    font-family: "Source Sans 3", sans-serif;
    color: #E0E0E0;
}
button {
    font-family: "Source Sans 3", sans-serif;
    color: #E0E0E0;
    background-color: #2D5A27;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
ul,li,a {
    font-family: "Source Sans 3", sans-serif;
    color: #E0E0E0;
}